body{
    background-color: #ccffc5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    
    
    }
    .titolo{
    font-size: 50px;
    text-align: center;
    font-family: inter, bold;
    }
    .paragrafo{
    font-size: 16px;
    font-family: inter;
    width: 70%;
    max-width: 850px auto;
    margin: 20px auto;
    text-align: center;
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    align-items: center;
    }
    h2{
        font-size: 16px;
        font-family: inter;
    
    }
    .container{
    width: 70%;
    margin: 0, auto;
    text-align: center;
    max-width: 600px;
    padding: 10px;
    
    }
    .content{
        text-align: center;
    }
    
    .inputnumber{
        height: 60px;
        width: 350px;
    
    
    }
    .alpha{
    font-family: inter;
    font-size: 16px;
    }
    .beta{
    font-family: inter;
    font-size: 16px;
    }
    .gamma{
    font-family: inter;
    font-size: 16px;
    font-weight: bold;
    
    }
=======
}

.inputnumber{
    height: 60px;
    width: 350px;


}
.alpha{
font-family: inter;
font-size: 16px;
}
.beta{
font-family: inter;
font-size: 16px;
}
.gamma{
font-family: inter;
font-size: 16px;
font-weight: bold;

}

.red{
background-color: red;

}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
>>>>>>> 6539dbacbdb351e7954205d7454ac44944ae18bd
