body{
background-color: #ccffc5;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 0;
padding: 0;


}
.titolo{
font-size: 50px;
text-align: center;
font-family: inter, bold;
}
.paragrafo{
font-size: 16px;
font-family: inter;
width: 70%;
max-width: 850px auto;
margin: 20px auto;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
h2{
    font-size: 16px;
    font-family: inter;

}
.container{
width: 70%;
margin: 0, auto;
text-align: center;
max-width: 600px;
padding: 10px;

}
.content{
    text-align: center;
}
button{
display: inline-block;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 24px;
cursor: pointer;
background-color: white;
}

.inputnumber{
    height: 60px;
    width: 350px;


}